extend layout

block head
  script(src='/javascripts/control.js')

block content
  h1
    Display Control

  div.row
    div.span5
      table#displayList
    div.span5
      form#upload(action="/newphoto", method="post", enctype="multipart/form-data")
        div.row
          div#loadedPicture.span5 noPicture 
        h4 Photo
        div.row
          div.span5
            input(name="photo", id="photo" , type="file")
        div.row
          div.span5
            button#loadPhoto
              |load

        div.row
          div.span5
            h5 Loaded Photos
            ul.thumbnails#imageList
            
