extends layout

block content
  div.row
    div.span6
      a.btn.btn-primary(href="/control")
        i.icon-dashboard
        span control
    div.span6
      a.btn.btn-primary(href="/display") 
        i.icon-check-empty 
        span display
