body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gray {
	/*background-color: #ccc;*/
	border: 4px solid gray;
	border-radius: 10px
}


.main {
	height: 400px;
}

#send {
	height: 90px;
}

.in, .out {
	padding: 30px;
	border-radius: 10px;
}

.out {
	margin-left: 100px;
	text-align: right;
	background-color: #35A064;
}

.in {
	margin-right: 100px;
	text-align: left;
	background-color: pink;
}